.App {
  font-family: sans-serif;
  text-align: center;
}

.Button {
  background-color: rebeccapurple;
  padding: 10px 12px 8px;
  color: #fff;
  font-family: sans-serif;
  font-size: 20px;
  border-radius: 4px;
}
